.social-links {
	&__link {
		display: inline-flex;
		fill: var(--clr-neutral-100);
		transition: fill 0.35s ease;

		&:hover,
		&:focus {
			fill: var(--clr-primary-400);
		}
	}

	&__icon {
		width: 2rem;
		aspect-ratio: 1;
	}
}
