.container {
	--max-width: 111rem;
	--padding-inline: clamp(var(--spacing-rem-400), 4vw, var(--spacing-em-700));

	width: min(100% - 2 * var(--padding-inline), var(--max-width));
	margin-inline: auto;
}
